@using EduPlatformProject.Resources
@using Microsoft.Extensions.Localization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = localizer["ForgotPassword"];
}
@inject IStringLocalizer<SharedResources> localizer;

<section class="my-5 py-5">
    <div class="d-flex justify-content-center">
        <div class="col-md-6 p-3 shadow rounded bg-light">
            @if (ViewBag.msg == null)
            {
                <h3 class="text-center">@localizer["ForgotPassword"]</h3>
                <form class="d-flex flex-column gap-4 mt-4" action="/auth/forgotPassword" method="post">
                    <input class="form-control" placeholder="@localizer["Email"]" type="email" name="email" dir="ltr" required />
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary">@localizer["ForgotPassword"]</button>
                    </div>
                </form>
            } else
            {
                <h5 class="text-success">@ViewBag.msg</h5>
            }
        </div>
    </div>
</section>